:root {
	--default-color-white: hsl(0, 0%, 100%);
	--light-gray-violet: hsl(270, 3%, 87%);
	--dark-gray-violet: hsl(279, 6%, 55%);
	--darker-violet-color: hsl(278, 68%, 11%);
	--color-error-red: hsl(0, 100%, 66%);
	--active-border-start: hsl(249, 99%, 64%);
	--active-border-end: hsl(278, 94%, 30%);
	--secondary-color-black: hsl(0, 0%, 0%);
}
