@use '../util' as *;
@use './colors.scss' as *;

.container {
	padding: 0 rem(24);
	max-width: rem(1110);
	margin: 0 auto;

	@include breakpoint(large) {
		padding: 0;
		transform: translate(0, 0);
	}
}

body {
	max-width: 320px;
	padding-bottom: 8rem;
}

.header {
	max-width: 320px;
	background-color: var(--darker-violet-color);
}

.header__img__container {
	position: relative;
	top: 5rem;
}

.back {
	position: relative;
	left: 3.15rem;
}

.header__card__front {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 5000;
}

.header__img {
	max-width: 15.789rem;
}

.front {
	position: relative;
	right: 1.05rem;
	bottom: 3.98rem;
}

.card__logo {
	width: 20%;
	position: absolute;
	top: 5.95rem;
	left: 2rem;
	z-index: 9000;
}

.card__num-primary,.card__lower-row,.card__back-code {
	font-size: var(--font-size-card-num);
	font-weight: var(--font-weight-body);
	font-family: var(--font-family-body);
	color: var(--default-color-white);
	position: absolute;
	top: 8.2rem;
	z-index: 7000;
}

.card__lower-row {
	display: flex;
	align-items: center;
	top: 10.5rem;
	left: 1.8rem;
	font-size: var(--font-family-body)/2;
	text-transform: uppercase;
}

.card__name {
	margin-right: 2.65rem;
}

.card__back-code {
	top: 2.26rem;
	left: 14.4rem;
}

.card__input-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 3rem;
}

.card__form-labels-date {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	bottom: 1rem;
}

.card__expiry-section,.card__form-labels-date {
	flex-direction: row;
}

.card__date-input {
	width: 25%;
	margin-right: 0.65rem;
}

.card__date-cvc {
	width: 33.33%;
}

input {
	border: 1px solid var(--light-gray-violet);
	border-radius: 5px;
}

.card__expiry-section {
	position: relative;
	left: 0.65rem;
}

input,label {
	margin-bottom: 1.5rem;
}

.card__code-label {
	margin-right: 2rem;
	position: relative;
	top: 0.85rem;
}

.card__name-label {
	position: relative;
	bottom: 35px;
	left: -3rem;
}

.cardholder-name {
	left: -5rem;
}

.card__expiry-section {
	position: relative;
	top: 4rem;
}

.card__name-label {
	position: relative;
	top: 0;
}

.card__input {
	width: 18rem;
	padding: 0.45rem 2rem 0.45rem 2rem;
}

.card__name {
	position: relative;
	left: 1rem;
}

.button {
	position: relative;
	top: 4rem;
	border: none;
	font-family: var(--font-family-body);
	font-weight: var(--font-weight-body);
	font-size: var(--font-size-card-num);
	padding: 0.55rem 7rem 0.55rem 7rem;
	background-color: var(--darker-violet-color);
	color: var(--default-color-white);
}

.card__num-label,.card__name-label {
	position: relative;
}

.card__name-label,.card__num-label {
	right: 3rem;
	top: 0.75rem;
}

.card__num-label {
	right: 5.9rem;
}

label {
	text-transform: uppercase;
}

.cardholder-name, .card__num-label {
	left: -4rem;
}

.card__num-label {
	left: -5.2rem;
}

.completed {
	display: none;
}

.completed-show {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
	top: 5rem;
}